<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<script data-main="scripts/main.js" src="scripts/vendor/require.js"></script>
	<script src="scripts/config.js"></script>
	<link rel="stylesheet" type="text/css" href="styles/popup.css">
</head>
<body>
	<div id="notify">
		<p>您尚未登录豆瓣，<a id="log-in" href="http://www.douban.com/login" target="_blank">点击登录</a></p>
	</div>
	<script type="text/template" id="player-template">
		<div class="player-container">
			<div class="fl cover-wrap">
				<img class="cover" src="<%= picture %>">
				<a class="cover-album" href="http://music.douban.com<%= album %>" target="_blank">
					<span class="cover-tip">查看专辑信息</span>
				</a>
			</div>
			<div class="player-controller">
				<div class="song-info">
					<h3 class="artist" title="<%= artist %>"><%= artist %></h3>
					<p class="album">&lt;&nbsp;<%= albumtitle %>&nbsp;&gt;</p>
				</div>
				<div class="song-control">
					<div><a class="title" href="http://music.douban.com<%= album %>" target="_blank"><%= title %></a></div>
					<div class="song-controller">
						<div class="progress">
							<input type="range" class="progress-bar" disabled>
						</div>
						<div class="volumn fr">
							<i class="volumn-icon">&#xf00ae;</i>
							<input type="range" class="volumn-range">
						</div>
					</div>
				</div>
				<div class="operation-wrap fr">
					<span class="operation collect">&#xf0052;</span>
					<span class="operation blacklist">&#xf013f;</span>
					<span class="operation next">&#xf0124;&#xf0124;</span>
					<span class="operation pause">&#xe632;</span>
				</div>
			</div>
			<div class="pause-mask <%= isPaused ? 'mask-show' : '' %>"></div>
		</div>
	</script>
	
</body>
</html>